$primary-color: #ffc87a;
$text-color: #1a2b5f;
$text-gray: #c6cad7;
html {
    font-size: 62.5%;
}

a{
    text-decoration: none;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body{
    font-family: "Poppins", sans-serif;
    color: $text-color;
    line-height: 1.4;
    font-weight: 400;
}
@mixin flex($align:flex-start, $justify: flex-start, $wrap: nowrap){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    margin: 0 auto;
    max-width: 1210px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header{
    padding-top: 4rem;
    &__inner{
        @include flex(center, space-between);
    }
    &__menu{
        &-list{
            @include flex(center);
        }
        &-item{
            margin-left: 5rem;
            &:last-child{
                margin-left: 7rem;
            }
        }
        &-link{
            font-size: 16px;
            color: $text-color;
            transition: color .25s linear, border .25s linear;
            &:hover{
                color: $primary-color;
            }
        }
    }
}

.logo{
    font-size: 2rem;
    font-weight: 600;
    color: $text-color;
    &__text{
        color: $primary-color;
    }
}

.banner{
    padding-top: 15rem;
    padding-bottom: 15rem;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    &__heading{
        font-weight: 700;
        font-size: 6rem;
        margin-bottom: 3rem;
    }
    &__desc{
        font-weight: 300;
        font-size: 2.5rem;
        margin-bottom: 4rem;
    }
    &__buttons{
        margin: 0 10px;
    }
}

.btn{
    cursor: pointer;
    outline: none;
    font-size: 1.6rem;
    text-align: center;
    color: $text-color;
    padding: 1.5rem 3rem;
    display: inline-block;
    border: 0;
    background-color: transparent;
    margin: 0 1rem;
    &--border{
        border: 1px solid currentColor;
    }
    &--rounded{
        border-radius: 5rem;
    }
    &--primary{
        background-color: $primary-color;
        box-shadow: 0 10px 35px -5px $primary-color;
    }
}

.category{
    &__list{
        @include flex(stretch, space-between, wrap);
    }
    &__item{
        width: calc(25% - 22.5px);
        padding: 2.5rem;
        background-color: #fafafa;
        border-radius: 20px;
        &:first-child{
            box-shadow: 0 20px 35px -5px rgba(255, 151, 195, 1);
        }
        &:nth-child(2){
            box-shadow: 0 20px 35px -5px rgba(255, 151, 195, 1);
        }
        &:nth-last-child(2){
            box-shadow: 0 20px 35px -5px rgba(255, 151, 195, 1);
        }
        &:last-child{
            box-shadow: 0 20px 35px -5px rgba(255, 151, 195, 1);
        }
    }
    &__image{
        border-radius: inherit;
        object-fit: cover;
        @include size(100%, 23rem);
        margin-bottom: 4rem;
    }
    &__name{
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
    &__details{
        font-size: 1.4rem;
        color: $text-gray;
        i{
            margin-left: 1.5rem;
        }
    }
}
.feature{
    padding-top: 18rem;
    &__item{
        display: flex;
        align-items: center;
        margin-bottom: 15rem;
    }
    &__image,
    &__info {
        width: 50%
    }
    &__info{
        padding-left: 10rem;
    }
    &__title{
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 2.5rem;
    }
    &__desc{
        font-weight: 600;
        font-size: 1.4rem;
        margin-bottom: 4rem;
        line-height: 1.8;
    }
    &-intro{
        &__item{
            font-style: 600;
            font-size: 1.8rem;
            margin-bottom: 3rem;
            text-decoration: underline;
            &--circle{
                text-decoration: none;
                position: relative;
                padding-left: 3rem;
                &:before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 4rem;
                        background-color: #00aefd;
                        transform: translateY(-50%);
                    }
                    &:nth-child(2):before{
                        background-color: #ffa400;
                    }
                    &:nth-child(3):before{
                        background-color: pink;
                    }
                    &:last-child:before{
                        background-color: red;
                    }
            }
        }
    }
    &-best{
        &__icon{
            width: 5rem;
            height: 5rem;
            border-radius: 4px;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            color: #ffa400; 
            position: relative;
            z-index: 1;
            &::after{
                content: "";
                width: 100%;
                height: 100%;
                border-radius: inherit;
                background-color: currentColor;
                opacity: 0.25;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            &--green{
                color: green;
            }
            &--purple{
                color: purple;
            }
            &--blue{
                color: blue;
            }
        }
        &__title{
            font-size: 1.8rem;
            margin-bottom: 1rem;
            font-weight: 600;
        }
        &__desc{
            font-weight: 300;
        }
        &__list{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: -5rem;
        }
        &__item {
            width: calc(50% - 30px);
            margin-bottom: 5rem;
        }
    }
}
.partner{
    margin-bottom: 19rem;
    &__container{
        max-width: 83rem;
        text-align: center;
    }
    &__title{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 7rem;
        padding-bottom: 7rem;
        border-bottom: 1px solid currentColor;
    }
    &__list{
        @include flex(center, space-between);
    }
}
.connect{
    text-align: center;
    margin-bottom: 17rem;
    &__title{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 3.5rem;
    }
    &__notice{
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 6rem;
    }
    span{
        color: $primary-color ;
    }
    &__list{
        @include flex(stretch, space-between);
    }
    &__item{
        width: calc(25%-22.5px);
    }
}